@import "styles/shared/general.css";
.card-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media screen and (max-width: 2000px) {
  .card-container {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (max-width: 1600px) {
  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .card-figure{
    height: 350px;
  }
}
.card {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border: var(--MAIN-BORDER);
}
.card-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-bottom: 2rem;
}
.card-image{
  max-height: 100%;
  max-width: 100%;
}
.card-title{
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  height: 50px;
  /*text-align: start;*/
}
.card-rating{
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  align-items: start;
  margin-bottom: 0.5rem;
}
.vote-counter{
  color: var(--RATING-COUNTER);
}
.vote-counter:hover{
  cursor: pointer;
}
img.rating{
  width: 60%;
  height: auto;
}
.card-price{
  font-weight: bold;
  margin-bottom: 5px;
}
.card-select{
  width: 30%;
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--QUANTITY-BGCOLOR);
  border: #d5d9d9 1px solid;
  box-shadow : var(--BOXSHADOW);
  margin-bottom: 1rem;
}
.card-select:focus, .card-select:focus-within{
  border: #f08804 solid 2px;
}
.card-check{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  visibility: hidden;
  margin-bottom: 0.5rem;
}
.added-icon{
  width: 25px;
  height: auto;
}
.add-to-cart{
  color: var(--CARD-ADDED-COLOR);
}
.card-button{
  background-color: var(--CARD-BUTTON-BGCOLOR);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  box-shadow: var(--BOXSHADOW);
}
.card-button:hover, .card-button:focus{
  background-color: var(--CARD-BUTTON-HOVER-BGCOLOR);
  cursor: pointer;
}

