@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* |RESET*/
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:any-link {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
li{
    list-style: none;
}
/* |UTILITY CLASSES*/
.offscreen{
    position: absolute;
    left: -1000px;
}
.nowrap{
    white-space: nowrap;
}
/* |VARIABLES*/
:root {
    /*FONT*/
    --FONT-FAMILY: 'Nunito';
    --FONT-SIZE : 16px;
    /*COLOR*/
    --HEADER-COLOR: #ffffff;
    --HEADERBG : #131921;
    --SEARCH-BUTTON-BG :#febd69;
    --SEARCH-INPUT-FOCUSE :#FF9900;
    --NAV-LINK-BGCOLOR:#26323f;
    --CART-HEADER-LINK-COLOR:#007185;
    --RATING-COUNTER : #017cb6;
    --QUANTITY-BGCOLOR: #f0f0f0;
    --CARD-BUTTON-BGCOLOR: #FFD814;
    --CARD-ADDED-COLOR: #068b88;
    --CARD-BUTTON-HOVER-BGCOLOR: #FFD014FF;
    /*BORDER*/
    --BORDERS : 1px solid #131921;
    --BORDER-RADIUS : 5px;
    --CARD-BORDERS : 1px solid #e7e7e7;
    /*BOX-SHADOW*/
    --BOXSHADOW: 1px 1px 1px #e7e7e7;
}
/*GENERAL*/
html{
    scroll-behavior: smooth;

}
body {
    font-family: var(--FONT-FAMILY), sans-serif;
    font-size: var(--FONT-SIZE);
    min-height: 100vh;
}