@import "general.css";

/*|GENERAL*/
.header {
  background-color: var(--HEADERBG);
  color: var(--HEADER-COLOR);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.header-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  padding: 0 15px;
  position: sticky;
  top: 0;
  height: 60px;
  gap: 0.5rem;
}
/*HEADER LEFT SECTION*/
.header-left-section {
  margin: 0.5rem 0;
}
.logo-desktop {
  display: none;
}
.logo-mobile {
  width: 100%;
  height: auto;
}
.header-middle-section {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

}
/*HEADER SEARCH AREA*/
.search-input {
  width: min(650px, 80%);
  font-size: 17px;
  height: 70%;
  padding: 0.5rem;
  border: var(--BORDERS);
  border-right: none;
  border-top-left-radius: var(--BORDER-RADIUS);
  border-bottom-left-radius: var(--BORDER-RADIUS);
}
.search-button {
  width: 50px;
  background-color: var(--SEARCH-BUTTON-BG);
  border: var(--BORDERS);
  border-left: none;
  height: 70%;
  padding: 0.5rem 0.3rem;
  border-top-right-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.search-icon {
  width: 60%;
  height: auto;
}
/*HEADER LEFT SECTION*/
.header-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-button {
  background-color: transparent;
  border: none;
  width: 60%;
}
.menu-icon {
  width: 100%;
  height: auto;
}
.menu-button:hover,
.search-button:hover {
  cursor: pointer;
}
.search-input:focus {
  border: var(--SEARCH-INPUT-FOCUSE) solid 3px;
  outline: none;
}
.nav-desktop-view {
  display: none;
}
.nav-mobile-view {
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.8s ease-in-out,
    opacity 0.8s ease-in-out;
  pointer-events: none;
}
.nav-mobile-view.active {
  display: block;
  max-height: 250px;
  opacity: 1;
  pointer-events: auto;
}
.nav-mobile-view li {
  margin-bottom: 0.3rem;
}
.nav-mobile-view a {
  display: block;
  padding: 1rem 0;
}
.nav-mobile-view a:hover,
.nav-mobile-view a:focus {
  background-color: var(--NAV-LINK-BGCOLOR);
}

/*!*LARGE VIEW*!*/
@media screen and (min-width: 576px) {
  .header-bar{
    display: grid;
    grid-template-columns: 100px 1fr 200px;
  }
  /*LEFT SECTION*/
  .logo-mobile{
    display: none;
  }
  .logo-desktop{
    display: block;
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
  }
  /*MIDDLE SECTION*/
  .header-middle-section{

  }
  /*RIGHT SECTION*/
  .menu-button {
    display: none;
  }
  .header-right-section {
    padding: 0 0.2rem;
  }
  .nav-desktop-view{
    display: block;
  }
  .nav-desktop-view ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart-link{
    display: flex;
    align-items: center;
  }
  .cart-icon {
    width: 60%;
    height: auto;
  }
  .nav-desktop-view li {
    height: 100%;
  }
  .nav-desktop-view li:hover, .cart-link:hover{
    background-color: var(--NAV-LINK-BGCOLOR);
  }
}
/*@media screen and (min-width: 622px) {*/
/*  .logo-mobile-view {*/
/*    display: none;*/
/*  }*/
/*  .menu {*/
/*    display: none;*/
/*  }*/
/*  .nav-mobile-view {*/
/*    display: none;*/
/*  }*/
/*  .header-bar {*/
/*  }*/
/*  .logo-desktop-view {*/
/*    display: block;*/
/*    max-width: 18%;*/
/*    margin: 1rem 0;*/
/*    padding: 0.5rem;*/
/*  }*/
/*  .logo-desktop-image {*/
/*    width: 100px;*/
/*    height: auto;*/
/*  }*/
/*  .nav-desktop-view {*/
/*    width: 20%;*/
/*    display: flex;*/
/*    gap: 0.2rem;*/
/*    text-align: left;*/
/*    justify-content: space-evenly;*/
/*  }*/
/*  .nav-desktop-view a{*/
/*    padding: 0.5rem 0;*/
/*  }*/
/*  .cart-icon {*/
/*    width: max(35px, 40%);*/
/*    height: auto;*/
/*  }*/
/*  .cart-link {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*  }*/
/*}*/
